//**********
// COLOR VARIABLES
// preferably in rgb to make it easier to give an opacity if needed
//**********







//**********
// BREAKPOINT VARIABLES
// preferably in pixels
//**********

$breakpoint-desktop: 1800px;
$breakpoint-laptop: 920px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;