.user-activity-icon {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 1px;
  margin-bottom: 3px;
  display: inline-block;
}

.layout-horizontally {
  display: flex;
}

.layout-horizontally-centered {
  display: flex;
  justify-content: center;
}
