.modal-bid-offer{
    .modal-content{
        border-radius: 10px;
        border: none;
        padding: 0;
    }

    .modal-dialog{
        max-width: 600px;
    }

    &.modal-large {
        .modal-dialog{
            max-width: 900px;
        }
    }

    .modal-header, .modal-body, .modal-footer{
        padding: 20px 35px;
    }
    .modal-header{
        position: relative;
        border-bottom: 2px solid $border-color;
        .close{
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid $border-color;
            text-align: center;
            padding: 0;
            right: -15px;
            top: -15px;
            background-color: #fff;
            opacity: 1;
            line-height: 25px;
            color: $text-off;
            transition: 200ms;
            span{
                display: block;
                font-size: 1.5rem;
                font-weight: bolder;
            }
            &:hover{
                background-color: $border-color;
                color: #fff;
                opacity: 1;
            }
        }
    }
    .modal-title{
        position: relative;
        &:before{
            content: '';
            width: 40px;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: -2px;
            border-bottom: 2px solid #047b59;
        }
    }
    
    .modal-body{
        padding: 20px 27px;
        .input-group-text{
            background-color: inherit;
            border-radius: 0 20px 20px 0 !important;
            font-weight: 500;
            border: 1px solid $border-color;
            border-right: none;
            font-size: 14px;
        }
        .form-group{
            padding: 0 8px;
            margin-bottom: 1rem;
        }
        .datetimepicker{
            border-radius: 20px 0 0 20px !important;
            padding-right: 0;
            &:focus{
                box-shadow: inherit;
                outline: none;
            }
        }
        .custom-select{
            border: 1px solid $border-color;
            border-radius: 20px;
            width: 100%;
            padding-left: 15px;
            background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center/8px 10px;
            &.is-invalid {
                background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center/8px 10px, url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff425d' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23ff425d' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E") #fff no-repeat center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem);
            }
        }
        textarea{
            border: 1px solid $border-color !important;
            border-radius: 15px !important;
        }
        input, .custom-select, textarea{
            &:focus{
                box-shadow: inherit;
                border-color: $border-color;
                outline: none;
            }
        }

        label{
            font-weight: 500;
            margin-bottom: 5px;
        }
        
    }
    .modal-footer {
        flex-wrap: nowrap;
    }

    .commodity-type {
        float: right;
        display: inline-block;
        padding-top: 7px;
        font-weight: 500;
        color: $text-off;
    }
    
}
.check-box-field{
    .custom-control{
        float: left;
        padding-right: 5px;
        padding-left: 0;
    }
}
.checkbox-fix{
    display: flex;
    align-items: center;
    &__label {
        margin-bottom: 0px !important;
    }
    .custom-checkbox{
        width: 20px;
        float: none;
        display: inline-block;
        padding-right: 0;
    }
}