// Variables go into App > javascript > src > variables

$blue: #0E0033;
$red: #ff425d;
$green: #00b381;

$text-green: #007c59;
$text-dark-blue: #120437;

$badge-off: #989dbe;




$navyBlue: #24337c;
$white: #ffffff;
$blue: #2b42b2;
$blue-font: #4cb5fe;
$purple: #6702d1;
$alternate-colors: #e5e5e5;
$dosis: 'Dosis', sans-serif;
$nav-color: #252636;
$nav-active-color: #2b42b2;
$gray: #bdbdbd;
$light-gray: #dbdbdb;
$dark-header: #262626;
$redFont: #e4293b;
$greenFont: #32b062;

$blue-btn: #2b42b2;
$purple-btn: #6702d1;
$green-btn: #4ccd7d;
$green-btn-rollover: #3ca965;
$red-btn: #f7564a;
$red-btn-rollover: #d94a3f;
$swap: #D2691E;
$swap-border: #C8C8C8;
$tabRollover: #b1b1b1;

$font-color: #333333;
$font-disable: #868686;
$dodgerblue: #1E90FF;
$limegreen: #ffd34c;

$createFlash: #4ccd7d;
$deleteFlash: #f7564a;
$bookFlash: #ffd34c;

$white-hover: #f6f6f6;
$gray-hover: #dbd9d9;

$gray-icon: #797978;

$flashing-duration: 15;
$flashing-duration-cancel: 3;
$flashing-duration-book: 3;




